@media screen and (min-width: 769px) {
    .contact-card-container {
        margin: 2% 15%;
    }
}

.contact-card-container {
    display: grid;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;

    border-radius: 2px;
    outline: none;
}

.linkedin {
    grid-area: linkedin;
    color: #4875B4;
}

.linkedin:hover {
    background-color: #4875B4;
    color: white;
}

.twitter {
    grid-area: twitter;
    color: #1DA1F2;
}

.twitter:hover {
    background-color: #1DA1F2;
    color: white;
}

.github {
    grid-area: github;
    color: #24292e;
}

.github:hover {
    background-color: #24292e;
    color: white;
}

.email {
    grid-area: mail;
    color: #c71610;
}

.email:hover {
    background-color: #c71610;
    color: white;
}

.white {
    color: white;
}