/* REGULAR FONTS */

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-bold-webfont.woff2')  format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-semibold-webfont.woff2')  format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-medium-webfont.woff2')  format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-regular-webfont.woff2')  format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-light-webfont.woff2')  format('woff2');
    font-weight: 300;
}

/* ITALIC FONTS */

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-bolditalic-webfont.woff2')  format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-semibolditalic-webfont.woff2')  format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-mediumitalic-webfont.woff2')  format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-italic-webfont.woff2')  format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/cormorantgaramond-lightitalic-webfont.woff2')  format('woff2');
    font-weight: 300;
    font-style: italic;
}

/* CSS */

body {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

.justify-center {
    justify-items: center;
}

.text-center {
    text-align: center;
}

.fontSizeA {
    font-size: 2.25em,
}

.fontSizeB {
    font-size: 1.75em,
}

.fontSizeC {
    font-size: 1.25em,
}

.clean {
    font-weight: 300;
    font-family: 'CormorantGaramond';
}

h1, h2, h3, h4 {
    font-family: 'CormorantGaramond';
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}