/* REGULAR FONTS */

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-Bold.ttf')  format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-SemiBold.ttf')  format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-Medium.ttf')  format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-Regular.ttf')  format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-Light.ttf')  format('truetype');
    font-weight: 300;
}

/* ITALIC FONTS */

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-BoldItalic.ttf')  format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-SemiBoldItalic.ttf')  format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-MediumItalic.ttf')  format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../../../assets/fonts/CormorantGaramond-LightItalic.ttf')  format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* CSS */

body {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}

.justify-center {
    justify-items: center;
}

.text-center {
    text-align: center;
}

.fontSizeA {
    font-size: '2.25em',
}

.fontSizeB {
    font-size: '1.75em',
}

.fontSizeC {
    font-size: '1.25em',
}

.clean {
    font-family: 'Roboto';
    font-weight: 300;
}