.container {
    background-color: white;
    box-shadow: 5px 5px 5px #555;
    border-radius: 2px;
    margin-bottom: 3%;
    padding: 0% 10%;
}

.container:nth-child(odd) {
    grid-column: 1;
}

.container:nth-child(even) {
    grid-column: 3;
}

a {
    text-decoration: none;
    color: black;
}

.title-grid {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
}

.title-icon {
    display: grid;
    align-content: center;
    justify-content: center;
}

.textStyle {
    font-size: 1.25em;
}

.textStyle.desc {
    font-size: 1.15em;
}

.imgSize {
    height: 32px;
}