.container {
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    min-height: 22vh;
    margin: 1vh 1.5vw;
}

.textStyle {
    text-align: center;
    font-size: 1.25em;
}

.textStyle.desc {
    font-size: 1.15em;
}

.imgSize {
    height: 32px;
}