@media screen and (min-width: 769px) and (max-width: 1440px) {
    .bigCardContainer {
        display: grid;
        grid-template-columns: 5vw 1fr 5vw;
        grid-template-rows: 5vh 1fr 5vh;
    }
}

@media screen and (max-width: 768px) {
    .bigCardContainer {
        display: grid;
        grid-template-columns: 5vw 1fr 5vw;
        grid-template-rows: 5vh 1fr 5vh;
    }
}