.proper-center {
    grid-column-start: 2;
    grid-row-start: 2;
    align-items: center;
    justify-content: center;
    padding: 10% 20% 10% 20%;
    font-family: 'Inconsolata', monospace;
}

.amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}