.fontSizeA {
    font-size: 2.25em;
}

.fontSizeB {
    font-size: 1.75em;
}

.fontSizeC {
    font-size: 1.25em;
}

.proper-center {
    align-items: center;
    justify-content: center;
    padding: 10% 20% 10% 20%;
    font-family: 'CormorantGaramond';
}