.container {
    background-color: white;
    box-shadow: 5px 5px 5px #555;
    border-radius: 2px;
    margin-bottom: 3%;
    padding: 0% 10%;
    transition: 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 7px 7px 7px #555;
}

@media screen and (max-width: 425px) {
    .container:nth-child(1n) {
        grid-column: 2;
    }
}

@media screen and (min-width: 426px) and (max-width: 1440px) {
    .container:nth-child(odd) {
        grid-column: 1;
    }
    
    .container:nth-child(even) {
        grid-column: 3;
    }
}

@media screen and (min-width: 1441px) {
    .container:nth-child(3n+1) {
        grid-column: 1;
    }
        
    .container:nth-child(3n+2) {
        grid-column: 3;
    }

    .container:nth-child(3n) {
        grid-column: 5;
    }
}

.fontSizeB > a, .fontSizeC > a, a.title-icon {
    text-decoration: none;
    color: black;
}

.container > .fontSizeC {
    margin-top: 0;
}

.title-grid {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
}

.title-only {
    display: grid;
}

.title-icon {
    display: grid;
    align-content: center;
    justify-content: center;
}

.textStyle {
    font-size: 1.25em;
}

.textStyle.desc {
    font-size: 1.15em;
}

.imgSize {
    height: 32px;
}

.highlight-text {
    padding: .25em 0;
    background: #FFC107;
    box-shadow: .3em 0 0 #FFC107, -.3em 0 0 #FFC107;
}