@media screen and (min-width: 769px) {
    .osproj-container {
        grid-template-columns: 1fr 0.1fr 1.5fr;
    }

    .osproj-text-wrapper {
        grid-column-start: 1;
    }

    .osproj-style {
        grid-column-start: 3;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .osproj-area {
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .osproj-container {
        grid-template-rows: 0.5fr 1.5fr;
    }

    .osproj-text-wrapper {
        grid-row-start: 1;
    }

    .osproj-style {
        grid-row-start: 2;
        grid-template-columns: 3% 1fr 3%;
        grid-template-rows: repeat(2, 1fr);
    }

    .osproj-area {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
    }
}

@media screen and (max-width: 425px) {
    .osproj-style {
        grid-row-start: 2;
        grid-template-columns: 3% 1fr 3%;
        grid-template-rows: 0.5r 1fr;
    }
    
    .osproj-area {
        grid-row: 2;
        grid-column: 2;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}

.osproj-container {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
}

.osproj-style {
    display: grid;
}

.osproj-text-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
}

.font-style {
    text-align: justify;
    font-size: 1.5rem;
}