.opendev-container {
    background-color: white;
    box-shadow: 5px 5px 5px #555;
    border-radius: 2px;
    margin-bottom: 3%;
    padding: 0% 5%;
    transition: 0.3s ease-in-out;

    display: grid;
}

.opendev-container:hover {
    box-shadow: 7px 7px 7px #555;
}

.opendev-description {
    display: grid;
    align-items: center;
    justify-content: center;
}

.opendev-logo-area {
    display: grid;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1441px) {
    .opendev-logo-img {
        max-height: 10vh;
    }
}

@media screen and (min-width: 426px) and (max-width: 1440px) {
    .opendev-logo-img {
        max-height: 20vh;
    }
}

@media screen and (min-width: 426px) {
    .opendev-container {
        grid-template-columns: 1.5fr 1fr;
    }

    .opendev-description {
        grid-row: 1;
        grid-column: 2;
    }

    .opendev-logo-area {
        grid-row: 1;
        grid-column: 1;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .opendev-container {
        grid-row: 1;
        grid-column: 2;
    }
}

@media screen and (max-width: 425px) {
    .opendev-container {
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: 1.5fr 1fr;
    }

    .opendev-logo-img {
        max-height: 10vh;
    }
}
