img {
    display: inline;
    margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .about-container {
        grid-row-start: 2;
        grid-column-start: 2;
        display: grid;
        grid-template-columns: 1fr 5% 1fr;
    }

    .image-container {
        grid-column-start: 1;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .text-container {
        grid-column-start: 3;
        justify-content: center;
        align-content: center;
    }

    .image-wrapper {
        width: 90%;
        border-radius: 50%;
        max-width: 35vw;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        grid-row-start: 2;
        grid-column-start: 2;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 5% 1fr 5%;
    }

    .image-container {
        grid-row-start: 1;
        grid-column-start: 2;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .image-wrapper {
        width: 90%;
        border-radius: 50%;
        max-width: 50vw;
    }

    .text-container {
        grid-row-start: 3;
        grid-column-start: 2;
    }
}

.text-container {
    display: grid;
    justify-content: center;
    align-content: center;
}

.font-size-c {
    font-size: 1.5rem;
}